<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Grabbit | Dashboard</title>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Own styling -->
  <link rel="stylesheet" href="../../css/style.css">

  <!-- Datatables css, js imports -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

</head>

<body>
  <!-- Navbar fragment -->
  <div th:insert="fragments/navbar-admin"></div>

  <!-- Display menu items here in a table -->
  <div id="wrap">
    <div id="main" class="container">
      <h1>Menu items table</h1>
      <a class="btn btn-outline-dark" href="/admin/menu/new" style="margin-bottom: 15px;">Add new</a>
      <table id="myTable" class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col" style="width: 105px">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="menuItem : ${menuItems}">
            <td th:text="${menuItem.id}"></td>
            <td th:text="${menuItem.name}"></td>
            <td th:text="${menuItem.description}"></td>
            <td th:text="${menuItem.price}"></td>
            <td>
              <a th:href="@{'/admin/menu/update/' + ${menuItem.id}}" class="btn btn-outline-dark btn-sm">update</a>
              <a th:href="@{'/admin/menu/delete/' + ${menuItem.id}}" class="btn btn-outline-dark btn-sm">delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Footer fragment -->
  <div th:insert="fragments/footer"></div>

  <!-- Pagination script -->
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

</body>

</html>