<div th:fragment="navbar" style="padding-bottom: 50px">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow" style="padding-left: 70px; padding-right: 20px;">
        <a class="navbar-brand"><img th:src="@{/images/grabbitLogo.png}" height="40" width="30"></a>
        <a class="navbar-brand" href="/admin/dashboard">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST">
                <button class="btn btn-outline-light" type="submit">Sign out</button>
            </form>
        </div>
    </nav>
</div>
