<div th:fragment="navbar">

    <nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow"
        style="padding-left: 70px; padding-right: 20px;">
        <a class="navbar-brand"><img th:src="@{/images/grabbitLogo.png}" height="40" width="30"></a>
        <a class="navbar-brand" href="/home">Grabbit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!--If admin, show this-->
            <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('USER')">
                <li class="nav-item">
                    <a class="nav-link" href="/user/menu">Watch Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">My Profile</a>
                </li>
            </ul>

            <!--If admin, show this-->
            <ul class="navbar-nav mr-auto" sec:authorize="hasAuthority('ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
            </ul>

            <!--If  not authenticated, show this-->
            <ul class="navbar-nav mr-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/menu">Contact</a>
                </li>
            </ul>

            <!--If authenticated show this-->
            <div sec:authorize="isAuthenticated()">
                <form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
                    method="POST">
                    <button class="btn btn-outline-light" type="submit">Sign out</button>
                </form>
            </div>
            <!--Else-->
            <div sec:authorize="!isAuthenticated()">
                <a href="/login" class="btn btn-outline-light">Sign in</a>
            </div>
        </div>
    </nav>

</div>