<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/Style.css">
</head>

<body>
    <div class="container">

        <div class="shopping-cart">
            <h2>Shopping Cart <i class="fas fa-carrot"></i> </h2>
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:60%" scope="col">Item</th>
                        <th style="width:15%" scope="col">Price</th>
                        <th style="width:5%" scope="col">Quantity</th>
                        <th style="width:5%" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                        class="img-responsive" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">Cheese burger</h4>
                                    <p>Quis aute iure reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                            </div>
                        </td>
                        <td>DKK 30</td>
                        <td>
                            <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td class="actions">
                            <a class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                        class="img-responsive" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">Lakse Sandwich</h4>
                                    <p>Quis aute iure reprehenderit in voluptate velit esse cillum.</p>
                                </div>
                            </div>
                        </td>
                        <td>DKK 30</td>
                        <td>
                            <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td class="actions">
                            <a class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                        </td>

                        <td class="hidden-xs text-center"><strong>Total DKK 60.00</strong></td>
                        <td>
                            <a href="" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                        </td>
                        <td colspan="2" class="hidden-xs"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>