<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome icons stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Own styling -->
    <link type="text/css" th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <div th:insert="@{fragments/navbar}"></div>

    <!-- Content -->
    <div id="wrap">
        <div id="main" class="container">
            <h1>Menu</h1>
            <div class="menu-item-view">

                <div class="card-columns">
                    <div th:each="menuItem : ${menuItems}">


                            <div class="card menu-card border-dark" style="width: 18rem;">
                                <img th:src="${menuItem.pictureURL}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${menuItem.name}"></h5>
                                    <h6 class="card-subtitle mb-2 text-muted" th:text="${menuItem.price} + ' DKK'"></h6>
                                    <div class="long-text-suppress">
                                        <p  class="card-text" th:text="${menuItem.description}"></p>
                                    </div>
                                    <div class="add-to-cart-btn-wrapper">
                                        <a class="btn btn-outline-dark"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer fragment -->
    <div th:insert="@{fragments/footer}"></div>

</body>

</html>